body{
    background-color: #F9C2D1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:500px;
    font-size: 20px;
    font-weight: 900;
    font-family: "Fredoka",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button{
    width: 100px;
    height: 35px;
    border-radius: 9px;
    margin:0 10px;
    color:white;
}
#yes{
    background-color: green;
}
#No{
    background-color: tomato;
}
#pngThingy{
    height:68px;
    width:75px;
    mix-blend-mode: multiply;
}
#errorText{
    color:red;

}
